*.so
*.o
compile
config.guess
config.h*
config.log
config.mk
config.rpath
config.status
config.sub
autom4te.cache
aclocal.m4
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.deps
.libs
src/gmrun
build-aux
autoconf
autoconf-m4
config.h
config.sh
*.mo
