[Desktop Entry]
Name=gmrun
Icon=gmrun
Comment=execute a command
Exec=gmrun
Terminal=false
Type=Application
Categories=TerminalEmulator;System
GenericName=gmrun
